{% assign selectedVariant = product.variants[0] %}

{% if selectedVariant.inventory_management == "shopify" and selectedVariant.inventory_quantity <= 0 and selectedVariant.inventory_policy == "deny" %}
	{% assign productMarkText = "Sold Out" %}
{% elsif selectedVariant.compare_at_price %}
	{% assign productMarkText = "On Sale" %}
{% endif %}

<a href='{{squarespaceUrl}}{{productPage}}'>
	<div id='product-{{product.id}}'>
		<div>
			<img alt='{{product.title}}' class='loaded' src='{{product.image.src}}' style='width: 100%'>

			{% if productMarkText %}
			<div class='product-mark' style='position: absolute; top: 15px; right: 17px; background-color: #222; color: white; font-size: 18px; padding-top: 2px; padding-right: 8px; padding-bottom: 0px; padding-left: 8px; text-transform: uppercase;'>
				{{productMarkText}}
			</div>
			{% endif %}

		</div>
		<div class='product-overlay' id='product-overlay-{{product.id}}'>
			<div class='product-title' style='font-size: 28px; padding-top: 9px'>{{product.title}}</div>
			<div class='product-price' style='font-size: 18px'>
				<span class='price'>${{selectedVariant.price}}</span>

				{% if selectedVariant.compare_at_price %}
					<span class='compare-at-price' style='text-decoration: line-through; opacity: .7; margin-left: 5pt'>
						${{selectedVariant.compare_at_price}}
					</span>
				{% endif %}
			</div>
		</div>
	</div>
</a>